In [22]:
import pandas as pd

In [23]:
df4 = pd.read_csv("bse_dataset4.csv")
df4

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [24]:
#Exercise 1
#Calculate mode on age

In [25]:
print(mode_age)

NameError: name 'mode_age' is not defined

In [ ]:
#wrong formats Row is hard to analyze (NaN, )
#NaN Row 5 contained NaN values

df4["Timestamp"].fillna("05/07/2023 09:45:13", inplace=True)

df4

,Timestamp,gender,Age,emotion,YOB,CGPA,Do you have a Girl Friend or BOY Friend,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you have seek any specialist for a treatment?,Duration,Pulse,Maxpulse,Calories
0,05/07/2023 09:38:39,Male,21.0,Content,2002,4.22,No,No,Yes,Yes,Yes,60,110,130,409.1
1,05/07/2023 09:38:57,Marabou stock,45.0,Weird,2100,8.9,Yes,Yes,Yes,Yes,No,60,117,145,479.0
2,05/07/2023 09:39:09,Female,20.0,Happy,2002,3.98,No,No,Yes,Yes,No,60,103,135,340.0
3,05/07/2023 09:39:12,Male,21.0,Happy,2003,4.37,No,No,No,No,Nope,45,109,175,282.4
4,05/07/2023 09:39:14,Female,21.0,Happy,2002,3.63,No,No,No,No,No,45,117,148,406.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,05/07/2023 09:44:09,Male,22.0,Angry,1999,3.5,Yes,No,No,No,No,60,105,140,290.8
165,05/07/2023 09:44:14,male,23.0,sad,1999,4,no,no,no,no,no,60,110,145,300.0
166,05/07/2023 09:44:15,male,20.0,calm,2002,3.7,yes,no,no,no,no,60,115,145,310.2
167,05/07/2023 09:44:35,Female,21.0,sad,2001,3.8,no,no,yes,no,no,75,120,150,320.4
168,05/07/2023 09:45:13,Female,20.0,Happy,2022,4......,no,no,no,yes,no,75,125,150,330.4

In [26]:
import pandas as pd
crime_csv=pd.read_csv("2018CrimeStatisticsByCategoryOfCrime.csv")
crime_csv.head(10)

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,VICTIMS OF CRIME,NaN,NaN,NaN,VALUE PROPERTY(UGSHS.),NaN
1,NaN,NaN,Totals Cases,Cases under Inquiry,Not Detected/NPW,Cases taken to court,Cases submitted toDPP/RSA,Cases with convictions,Cases with Acquittals,Cases Dismissed,...,Probation Bound Over,CAUTION,COMM. WORK,Fines Awarded (UgShs.),Male Adult,Male Juven.,Female Adult,Female Juven.,Lost,Recovered
2,S/No.,CASE/CRIME INCIDENCES,1,2,3,4,5,6,7,8,...,18,19,20,21,NaN,NaN,NaN,22,23,24
3,NaN,HOMICIDES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,-,-,1,-,"2,475",192,473,104,"600,000",-

In [ ]:
crime_csv.dropna(axis = 0, inplace=True )
crime_csv.head(10)

,Unnamed: 0,Unnamed: 1,REPORTED CASES,Unnamed: 3,Unnamed: 4,Unnamed: 5,PERFOMANCE,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37
4,1,Death (by shooting),190,117,29,44,74,3,1,1,...,-,-,-,-,197,4,17,-,"11,500,000",-
5,2,Death (by mob action),636,431,109,96,176,2,-,1,...,-,-,-,-,619,11,25,1,-,-
6,3,Death (Poisoning),81,54,12,15,17,-,-,-,...,-,-,-,-,65,9,14,4,-,-
7,4,Death (Aggravated Domestic Violence),362,107,24,231,239,15,-,2,...,-,-,-,-,174,25,138,16,-,-
8,5,Death(Fire Out Breaks),42,25,11,6,14,-,-,-,...,-,-,-,-,16,24,7,19,-,-
9,8,Other Death (Not Specified above),"3,186","1,740",626,820,"1,259",25,2,8,...,-,-,1,-,"2,475",192,473,104,"600,000",-
12,9,Embezzlement,199,172,19,8,48,3,-,-,...,-,-,-,"3,000,000",178,-,13,-,"54,403,285,118","602,281,000"
13,10,Causing Financial losss,58,49,6,3,18,-,-,-,...,-,-,-,-,56,-,2,-,"21,829,723,334","35,094,000"
14,11,Abuse of office,50,39,11,-,10,-,-,-,...,-,-,-,-,44,-,1,-,"5,589,167,545","487,000,000"
15,12,Counterfeiting,541,215,159,167,244,51,1,30,...,-,13,9,"700,000",416,3,164,-,"226,405,000","13,577,000"

In [ ]:
crime_csv.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83 entries, 4 to 124
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   83 non-null     object
 1   Unnamed: 1                   83 non-null     object
 2   REPORTED CASES               83 non-null     object
 3   Unnamed: 3                   83 non-null     object
 4   Unnamed: 4                   83 non-null     object
 5   Unnamed: 5                   83 non-null     object
 6   PERFOMANCE                   83 non-null     object
 7   Unnamed: 7                   83 non-null     object
 8   Unnamed: 8                   83 non-null     object
 9   Unnamed: 9                   83 non-null     object
 10  Unnamed: 10                  83 non-null     object
 11  PERSONS TAKEN TO COURT       83 non-null     object
 12  Unnamed: 12                  83 non-null     object
 13  Unnamed: 13                  83 non-null     object
 14  Unnamed: 14                  83 non-null     object
 15  Unnamed: 15                  83 non-null     object
 16  Unnamed: 16                  83 non-null     object
 17  Unnamed: 17                  83 non-null     object
 18  Unnamed: 18                  83 non-null     object
 19  Unnamed: 19                  83 non-null     object
 20  Unnamed: 20                  83 non-null     object
 21  Unnamed: 21                  83 non-null     object
 22  SENTENCES IMPOSED BY COURTS  83 non-null     object
 23  Unnamed: 23                  83 non-null     object
 24  Unnamed: 24                  83 non-null     object
 25  Unnamed: 25                  83 non-null     object
 26  Unnamed: 26                  83 non-null     object
 27  Unnamed: 27                  83 non-null     object
 28  Unnamed: 28                  83 non-null     object
 29  Unnamed: 29                  83 non-null     object
 30  Unnamed: 30                  83 non-null     object
 31  Unnamed: 31                  83 non-null     object
 32  Unnamed: 32                  83 non-null     object
 33  Unnamed: 33                  83 non-null     object
 34  Unnamed: 34                  83 non-null     object
 35  Unnamed: 35                  83 non-null     object
 36  Unnamed: 36                  83 non-null     object
 37  Unnamed: 37                  83 non-null     object
dtypes: object(38)
memory usage: 25.3+ KB

In [35]:
crime_csv.astype(str)
crime_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 127 entries, 0 to 126
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   95 non-null     object
 1   Unnamed: 1                   125 non-null    object
 2   REPORTED CASES               125 non-null    object
 3   Unnamed: 3                   125 non-null    object
 4   Unnamed: 4                   125 non-null    object
 5   Unnamed: 5                   125 non-null    object
 6   PERFOMANCE                   125 non-null    object
 7   Unnamed: 7                   125 non-null    object
 8   Unnamed: 8                   125 non-null    object
 9   Unnamed: 9                   125 non-null    object
 10  Unnamed: 10                  125 non-null    object
 11  PERSONS TAKEN TO COURT       126 non-null    object
 12  Unnamed: 12                  124 non-null    object
 13  Unnamed: 13                  124 non-null    object
 14  Unnamed: 14                  124 non-null    object
 15  Unnamed: 15                  126 non-null    object
 16  Unnamed: 16                  124 non-null    object
 17  Unnamed: 17                  124 non-null    object
 18  Unnamed: 18                  124 non-null    object
 19  Unnamed: 19                  109 non-null    object
 20  Unnamed: 20                  109 non-null    object
 21  Unnamed: 21                  109 non-null    object
 22  SENTENCES IMPOSED BY COURTS  109 non-null    object
 23  Unnamed: 23                  108 non-null    object
 24  Unnamed: 24                  108 non-null    object
 25  Unnamed: 25                  109 non-null    object
 26  Unnamed: 26                  109 non-null    object
 27  Unnamed: 27                  109 non-null    object
 28  Unnamed: 28                  109 non-null    object
 29  Unnamed: 29                  109 non-null    object
 30  Unnamed: 30                  109 non-null    object
 31  Unnamed: 31                  109 non-null    object
 32  Unnamed: 32                  100 non-null    object
 33  Unnamed: 33                  107 non-null    object
 34  Unnamed: 34                  99 non-null     object
 35  Unnamed: 35                  108 non-null    object
 36  Unnamed: 36                  110 non-null    object
 37  Unnamed: 37                  109 non-null    object
dtypes: object(38)
memory usage: 37.8+ KB

In [ ]:
#Statistics for Data Science
#Descriptive Statistics, measure central Tendency(Mean, median, mode) Measure dispersion (standard)
#Probability
#Inferential Statistics(make predictions, identify, variables and hypothesis)
#Modeling
#ML
#regression, classification, cluster, anomaly detection

#+256722359866

#python data correlation
#use method corr( calculates correlation coefficients between all columns in dataframe)
#Strong positive correlation 1 Strong Negative correlation -1
#Good correlation 0.93455 Good correlation above 0.5
#Bad correlation when is less than 0.5 
#Perfect correlation 1 Perfect Negative correlation 1

In [ ]:
import matplotlib.pyplot as plt